@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administrativo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Listagem e criação de relatório com base nos lançamentos</a>.</p>
</div>
