version: "3.8"
services:
  java-api: 
    container_name: java-api
    restart: unless-stopped
    build:
      context: ./java-api
      dockerfile: ./Dockerfile
    image: spring_boo_com_mysql/api
    ports:
      - '8080:8080'
      - '5005:5005'
    environment:
      - ADDITIONAL_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 -Xmx1G -Xms128m -XX:MaxMetaspaceSize=128m
      - PROFILE=dev
    links:
      - db
  dotnet-api: 
    container_name: dotnet-api
    restart: unless-stopped
    build:
      context: ./dotnet-api
      dockerfile: Dockerfile
    ports:
      - ${PORT}:80
    depends_on:
      - db
    environment:
      PG_HOST: ${PG_HOST}
      PG_PORT: ${PG_PORT}
      PG_USER: ${PG_USER}
      PG_PASSWORD: ${PG_PASSWORD}
      PG_DB_NAME: ${PG_DB_NAME}
  db:
    image: postgres:14.0-alpine
    restart: always
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB_NAME}
    ports: 
     - ${PG_PORT}:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes: 
  postgres-data:
    driver: local