<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 lacamento-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="desLancamento">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.desLancamento}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="indEntradaSaida">
    <th mat-header-cell *matHeaderCellDef> Entrada/Saída </th>
    <td mat-cell *matCellDef="let element"> {{element.indEntradaSaida}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="valLancamento">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.valLancamento}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="dtaTransacao">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.dtaTransacao}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
